########## general ###########

build --distinct_host_configuration=false
build --dynamic_mode=fully
build --force_pic

# there are 3 possible compilation_modes in bazel: fast-build (default, optimized for build time), dbg (debug), opt (-O2, -DNDEBUG)
build -c opt
test -c opt

# we can not use sandbox for cc as we want to compile with ccache (ccache with sandbox is not supported in bazel)
# TODO: consider standalone mode only for cxx
build --spawn_strategy=standalone
build --genrule_strategy=standalone

test --spawn_strategy=standalone

# remove optional and experimental targets by default so that build //.. won't compile them
build --build_tag_filters=-optional,-experimental

# do not run integration tests by default
test --test_tag_filters=-integration_tests

########### caching ###########

# save bazel cache on host machine
#startup --output_user_root=/bazel/cache

# save repository_cache on host machine
#build --repository_cache=/bazel/repository_cache
#fetch --repository_cache=/bazel/repository_cache
#query --repository_cache=/bazel/repository_cache
#sync --repository_cache=/bazel/repository_cache

####### compiler and linker options ######

# enable c++20
build --cxxopt=-std=c++2a
build --host_cxxopt=-std=c++2a

build --conlyopt=-std=c99
build --host_conlyopt=-std=c99

build --host_linkopt=-Wl,--no-undefined,--no-allow-shlib-undefined

# TODO: enable hardball compiler flags
build:hardball --host_copt=-Werror
build:hardball --host_copt=-Wall
build:hardball --host_copt=-Wextra
build:hardball --host_copt=-Wpedantic
build:hardball --host_copt=-Wcast-align
build:hardball --host_copt=-Wcast-qual
build:hardball --host_copt=-Wconversion
build:hardball --host_copt=-Wctor-dtor-privacy
build:hardball --host_copt=-Wenum-compare
build:hardball --host_copt=-Wfloat-equal
build:hardball --host_copt=-Wnon-virtual-dtor
build:hardball --host_copt=-Wold-style-cast
build:hardball --host_copt=-Woverloaded-virtual
build:hardball --host_copt=-Wredundant-decls
build:hardball --host_copt=-Wsign-conversion
build:hardball --host_copt=-Wsign-promo
build:hardball --host_copt=-Wno-unused-function
build:hardball --host_copt=-Wchkp
build:hardball --host_copt=-Wimplicit-fallthrough
build:hardball --host_copt=-Wparentheses
build:hardball --host_copt=-Wunused-parameter
build:hardball --host_copt=-Wuninitialized
build:hardball --host_copt=-Wduplicated-branches
build:hardball --host_copt=-Wshadow
build:hardball --host_copt=-Wlogical-op
build:hardball --host_copt=-Wmissing-declarations

build:thread_sanitizer --copt=-fsanitize=thread

build:thread_sanitizer --linkopt=-fsanitize=thread