# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Makefile
Makefile

CMakeCache.txt

rcbe_engine

build/

cmake-build-debug/
CMakeFiles/
cmake_install.cmake
.idea/
*.cbp
install_manifest.txt

.vscode

rcbe_engine_graphics_test_node

bazel-bin
bazel-genfiles
bazel-out
bazel-rcbe_engine
bazel-testlogs

.Trash-1000/